# kube-prometheus-stack values.yaml

# ========== Prometheus ==========
prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    retention: 7d
    resources:
      requests:
        memory: 512Mi
        cpu: 250m
      limits:
        memory: 1Gi
        cpu: 500m
    # Enables scraping kubelet and cAdvisor metrics
    kubeletService: kubelet
    podMonitorSelectorNilUsesHelmValues: false

# ========== Node Exporter ==========
nodeExporter:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

# ========== Kube-state-metrics ==========
kubeStateMetrics:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
# ========== Grafana ==========
grafana:
  enabled: false  # we are deploying Grafana separately
# ========== Alertmanager (optional) ==========
alertmanager:
  enabled: false # we are using Grafana Alerting

# ========== Prometheus Operator ==========
prometheusOperator:
  createCustomResource: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  admissionWebhooks:
    enabled: false

