name: Deploy Monitoring Stack - Development

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v5.0.0
      
        # 2️⃣ Setup kubectl
      - name: install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      # 3️⃣ Setup Helm
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: 'v3.14.0'

      # 4️⃣ Configure kubeconfig from secret
      - name: Set up DigitalOcean CLI
        uses: digitalocean/action-doctl@v2.5.1
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          
      - name: Get Kubernetes cluster credentials
        run: doctl kubernetes cluster kubeconfig save ${{ secrets.DOKS_CLUSTER_ID }}

      # 5️⃣ Add Helm repos
      - name: Add Grafana Helm repo
        run: |
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo update
      
      # Replace Variables in values files
      - name: Inject secrets into Helm values
        env:
          GRAFANA_ADMIN_PASSWORD: ${{ secrets.GRAFANA_ADMIN_PASSWORD }}
          SUB_DOMAIN: grafana-dev
        run: |
          # Install envsubst if missing
          sudo apt-get update && sudo apt-get install -y gettext-base

          # Create temporary files with substituted values
          envsubst < ./k8s/helm/prometheus-kube-stack-values.yml > ./tmp-prometheus-values.yml
          envsubst < ./k8s/helm/loki-values.yml > ./tmp-loki-values.yml
          
      # 6️⃣ Deploy Prometheus + kube-prometheus-stack
      # - name: Deploy Prometheus Stack
      #   run: |
      #     helm upgrade --install prometheus-stack \
      #       prometheus-community/kube-prometheus-stack \
      #       -f ./tmp-prometheus-values.yml \
      #       -n monitoring \
      #       --create-namespace

      # 7️⃣ Deploy Loki + Promtail
      - name: Deploy Loki Stack
        run: |
          helm upgrade --install loki-stack \
            grafana/loki-stack \
            -f ./tmp-loki-values.yml \
            -n monitoring
