name: Deploy Kubernetes Cluster Components

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main


jobs:
  deploy-core-components:
    runs-on: ubuntu-latest
    environment: development

    steps:
      # Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v5.0.0
      
      # Setup kubectl
      - name: install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      # Setup Helm
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: 'v3.14.0'

      # Configure kubeconfig from secret
      - name: Set up kubeconfig for k3s
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.CLUSTER_KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
      
      # Add Helm repos
      - name: Add Helm repos
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update 
      
      # Replace Variables in values files
      - name: Inject secrets into Helm values
        env:
          ISSUER_NOTIFICATION_EMAIL: ${{ secrets.ISSUER_NOTIFICATION_EMAIL }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: |
          # Install envsubst if missing
          sudo apt-get update && sudo apt-get install -y gettext-base
          # Create temporary files with substituted values
          envsubst < ./k8s/set-up/letsencrypt-issuer.yml > ./tmp-letsencrypt.yml
          envsubst < ./k8s/secrets/cloudflare-api-token.yml > ./tmp-cloudflare-token.yml
      
      # Apply Cloudflare API token secret
      - name: Apply Cloudflare API Token Secret
        run: |
          kubectl apply -f ./tmp-cloudflare-token.yml
      
      - name: Deploy Cert-Manager
        run: |
          helm upgrade --install cert-manager jetstack/cert-manager \
            --namespace cert-manager \
            --create-namespace \
            --set crds.enabled=true


      # Apply Cluster Issuer for cert-manager
      - name: Apply Let's Encrypt Cluster Issuer
        run: |
          kubectl apply -f ./tmp-letsencrypt.yml

      # Add Longhorn Helm repo
      - name: Add Longhorn Helm repo
        run: |
          helm repo add longhorn https://charts.longhorn.io
          helm repo update
      
      # Deploy Longhorn Storage Class
      - name: Deploy Longhorn Storage Class
        run: |
          helm upgrade --install longhorn longhorn/longhorn \
            --namespace longhorn-system \
            --create-namespace \
            --version 1.10.1  

  deploy-monitoring:
    runs-on: ubuntu-latest
    environment: development
    needs: deploy-core-components

    steps:
      # Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v5.0.0
      
      # Setup kubectl
      - name: install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      # Setup Helm
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: 'v3.14.0'

      # Configure kubeconfig from secret
      - name: Set up kubeconfig for k3s
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.CLUSTER_KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config


      # Add Helm repos
      - name: Add Helm repos
        run: |
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo update
      
      # Replace Variables in values files
      - name: Inject secrets into Helm values
        env:
          GRAFANA_ADMIN_PASSWORD: ${{ secrets.GRAFANA_ADMIN_PASSWORD }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          ISSUER_NOTIFICATION_EMAIL: ${{ secrets.ISSUER_NOTIFICATION_EMAIL }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          STORAGE_CLASS_NAME: longhorn
          SUB_DOMAIN: monitoring
        run: |
          # Install envsubst if missing
          sudo apt-get update && sudo apt-get install -y gettext-base

          # Create temporary files with substituted values
          envsubst < ./k8s/monitoring/helm/grafana-values.yml > ./tmp-grafana-values.yml
          envsubst < ./k8s/monitoring/helm/prometheus-kube-stack-values.yml > ./tmp-prometheus-values.yml
          envsubst < ./k8s/monitoring/helm/loki-values.yml > ./tmp-loki-values.yml
      
      # Deploy Grafana
      - name: Deploy Grafana
        run: |
          helm upgrade --install grafana \
            grafana/grafana \
            -f ./tmp-grafana-values.yml \
            -n monitoring \
            --create-namespace
          
      # Deploy Prometheus + kube-prometheus-stack
      - name: Deploy Prometheus Stack
        run: |
          helm upgrade --install prometheus-stack \
            prometheus-community/kube-prometheus-stack \
            -f ./tmp-prometheus-values.yml \
            -n monitoring \
            --create-namespace

      # Deploy Loki + Promtail
      - name: Deploy Loki Stack
        run: |
          helm upgrade --install loki-stack \
            grafana/loki-stack \
            -f ./tmp-loki-values.yml \
            -n monitoring

  deploy-vault:
    runs-on: ubuntu-latest
    environment: development
    needs: deploy-core-components

    steps:
      # Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v5.0.0
      
      # Setup kubectl
      - name: install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      # Configure kubeconfig from secret
      - name: Set up kubeconfig for k3s
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.CLUSTER_KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
      
      # Add Helm repos
      - name: Add Helm repos
        run: |
          helm repo add hashicorp https://helm.releases.hashicorp.com
          helm repo update
      
      # Replace Variables in values files
      - name: Inject secrets into Vault ingress
        env:
          SUB_DOMAIN: vault
          STORAGE_CLASS_NAME: longhorn
        run: |
          # Install envsubst if missing
          sudo apt-get update && sudo apt-get install -y gettext-base

          # Create temporary files with substituted values
          envsubst < ./k8s/vault/vault-ingress.yml > ./tmp-vault-ingress.yml
          envsubst < ./k8s/vault/vault-values.yml > ./tmp-vault-values.yml
    
      
      # Deploy Vault via Helm
      - name: Deploy HashiCorp Vault via Helm
        run: |
          helm upgrade --install vault hashicorp/vault \
            -f ./tmp-vault-values.yml \
            --namespace vault \
            --create-namespace

      # Apply Vault configurations

      - name: Deploy HashiCorp Vault configurations
        run: |
          kubectl apply -f ./tmp-vault-ingress.yml -n vault

  deploy-databases:
    runs-on: ubuntu-latest
    environment: development
    needs: deploy-core-components

    steps:
      # Checkout repo
      - name: Checkout repo
        uses: actions/checkout@v5.0.0
      
      # Setup kubectl
      - name: install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/

      # Configure kubeconfig from secret
      - name: Set up kubeconfig for k3s
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.CLUSTER_KUBECONFIG }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
      
      # Add Helm repos
      - name: Add Helm repos
        run: |
          helm repo add cnpg https://cloudnative-pg.github.io/charts
      
      # Deploy CloudNative Postgres Operator
      - name: Deploy CloudNative Postgres Operator
        run: |
          helm upgrade --install cloudnative-pg cnpg/cloudnative-pg \
            --namespace database \
            --create-namespace
      
      # Deploy Postgres Database Cluster
      - name: Deploy Postgres Database Configuration
        run: |
          kubectl apply -f ./k8s/databases/postgres/ubutumwa-bugufi/cluster.yml -n database
      
      # Deploy Postgres Databases
      - name: Deploy Postgres Databases
        run: |
          kubectl apply -f ./k8s/databases/postgres/ubutumwa-bugufi/databases.yml -n database
